.logo {
    max-width: 20%;
    flex-basis: 20%;
}

.logo a {}

.logo a img {}

nav {
    max-width: 80%;
    flex-basis: 80%;
}

nav ul {
    justify-content: flex-end;
}

nav li {}

nav ul li a {
    font-size: 16px;
    color: #2d3950;
    text-transform: uppercase;
    font-weight: 600;
    padding: 13px;
    display: block;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -ms-transition: color .3s;
    -o-transition: color .3s;
}

nav ul li a:hover {
    color: #15a4fa;
}

.hero_section {
    background: url(../img/hero-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero_section .row {
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}



.hero_content {
    max-width: 50%;
    flex-basis: 50%;
    text-align: center;
}

.hero_content h2 {
    color: #fff;
    font-size: 6em;
    text-transform: uppercase;
}

.hero_content span {
    background-color: #15a4fa;
    height: 2px;
    display: block;
    width: 100%;
}

.hero_content p {
    font-size: 16px;
    color: #fff;
    padding: 16px 0;
}

.hero_content button {
    background: transparent;
    font-size: 18px;
    border: 1px solid #15a4fa;
    padding: 16px 28px;
    border-radius: 8px;
}

.hero_section .down_arrow {
    position: absolute;
    font-size: 52px;
    color: white;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.about_section {
    background: #f6f9f9;
}

.heading {
    text-align: center;
    padding: 78px 0px;
}

.heading h2 {
    padding: 20px 0;
    color: #2d3950;
}

.heading p {
    color: #999999;
    line-height: 1.5;
}

.features_section {}

.feature_box {
    flex-basis: 33.33%;
    max-width: 33.33%;
    padding: 30px 34px;
    text-align: center;
}

.feature_box .icon {
    width: 100px;
    margin: auto;
    height: 100px;

    line-height: 100px;
    background: rgb(5, 171, 224);
    background: -moz-linear-gradient(left, rgba(5, 171, 224, 1) 50%, rgba(83, 203, 241, 1) 50%, rgba(95, 195, 255, 1) 50%);
    background: -webkit-linear-gradient(left, rgba(5, 171, 224, 1) 50%, rgba(83, 203, 241, 1) 50%, rgba(95, 195, 255, 1) 50%);
    background: linear-gradient(to right, rgba(5, 171, 224, 1) 50%, rgba(83, 203, 241, 1) 50%, rgba(95, 195, 255, 1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#05abe0', endColorstr='#5fc3ff', GradientType=1);

}

.feature_box i {
    color: #fff;
    font-size: 51px;
    line-height: 2;

}

.feature_box h3 {
    padding: 30px 0;
}

.feature_box p {}

.showcase_section {
    background: #f6f9f9;
}

.showcase {
    max-width: 33.33%;
    flex-basis: 33.33%;
    padding: 15px;
}

.showcase .showcase_detail {
    position: relative;
}

.showcase .showcase_detail .overlay {
    opacity: 0;
    transition: all .3s;
    position: absolute;
    width: 100%;
    height: 0;
    background: #15a4fa;
    bottom: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.showcase:hover .showcase_detail .overlay {
    height: 100%;
    opacity: 0.7;
}

.showcase .showcase_detail .plus {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 36%;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    display: block;
    transform: translate(-36%, -50%);
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transform: translate(-36%, -50%);
    -moz-transform: translate(-36%, -50%);
    -ms-transform: translate(-36%, -50%);
    -o-transform: translate(-36%, -50%);
}

.showcase:hover .showcase_detail .plus {
    top: 50%;
    opacity: 1;
}

.showcase .showcase_detail .link {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 3px;
    left: 50%;
    display: block;
    transform: translate(-51%, 50%);
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    -webkit-transform: translate(-51%, 50%);
    -moz-transform: translate(-51%, 50%);
    -ms-transform: translate(-51%, 50%);
    -o-transform: translate(-51%, 50%);
}

.showcase:hover .showcase_detail .link {
    bottom: 50%;

    opacity: 1;
}

.contact_section {
    background-image: url(../img/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    position: relative;
}

.contact_section .contact_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #99342c;
    z-index: 0;
    opacity: .4;
}

.contact_section .heading {
    position: relative;
}

.contact_form {
    max-width: 50%;
    flex-basis: 50%;
    margin: 0 auto;

}

.contact_section .contact_form {
    position: relative;
}

.contact_form textarea,
.contact_form input {
    width: 100%;
    background: transparent;
    border: 1px solid #518caa;
    padding: 12px;
    margin: 2px;
    color: white;
}

.contact_form textarea::placeholder,
.contact_form input::placeholder {
    color: white;
}

input#newslatter {
    width: auto;
    margin-right: 20px;
}

.contact_form ul li {
    max-width: 50%;
    flex-basis: 50%;
}

.contact_form .row {
    align-items: center;
}

.contact_form ul li input[type="submit"] {
    width: auto;
    float: right;
    padding: 14px 37px;
}

.contact_form ul li input {}

footer {
    padding: 13px 0;
}

footer .copyright {
    max-width: 50%;
    flex-basis: 50%;
}

footer .copyright p {}

footer .copyright p a {
    color: #9999b3;
}

footer .social {
    max-width: 50%;
    flex-basis: 50%;
}

footer .row {
    align-self: center;
}

footer .social ul {
    justify-content: flex-end;
}

footer .social ul li {
    width: 30px;
    height: 30px;
    background: #111825;
    margin: 2px;
    text-align: center;
    line-height: 2;
}

footer .social ul li a {
    color: white;
}